.site_content {
  width: 100%;
}

.site_content_inner {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1200px;
}

.main_top {
  padding: 15px 0 9px 0;
  border-bottom: 1px solid black;
}

.main_top_inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.main_bottom {
  margin-top: 5px;
  padding-top: 20px;
  border-top: 1px solid black;
}

.main_bottom_inner {
  display: flex;
}

.article {
  display: flex;
  align-items: flex-start;
}

.article_image {
  height: 20%;
  width: 20%;
  margin-right: 10px;
  flex-shrink: 0;
}

.article_img > img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.article_title {
  font-size: 9px;
  line-height: 1.2rem;
}

.article_description {
  font-size: 13px;
}

.spotlight_container {
  margin-right: 1rem;
  padding-right: 1rem;
}

.spotlight_border {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.spotlight_main {
  flex: 5 5;
}

.spotlight_main_image_container {
  flex: 6 6;
}

.spotlight_main_image {
  margin-bottom: 0.5rem;
}

.spotlight_main_title {
  font-size: 1.35rem;
  margin-bottom: 0.5rem;
}

.spotlight_main_content {
  font-size: 0.95rem;
}

.spotlight_main_description {
  color: grey;
  font-size: 0.83rem;
}

.spotlight_secondary {
  flex: 5 5;
  font-size: 1rem;
}

.spotlight_secondary_title {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.spotlight_tertiary {
  flex: 4 4;
  font-size: 1rem;
}

.spotlight_tertiary_title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
